.candidate-wrapper{
  padding: 0 30px;
  display: flex;
  justify-content: center;
}
.candidate-text {
  text-align: center;
    h2 {
      font-weight:500;
      color: $blue1;
      font-size: 30px;
      padding: 0 10%;
   }

   p {
    color: $gray1;
    font-size: 18px;
    padding: 0 10%;
   }
}

.candidate-form{
  text-align: center;
  margin-top: 1%
}

#candidate-new-1{
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#candidate-new-2{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#candidate-new-3{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#candidate-new-4{
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.candidato-logo {
  text-align: center;
  background-color: $blue1;
  padding: 10% 0;
  h1 {
    color: #ffffff;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
    .candidato-logo {
    h1 {
      font-size: 20px;
     }
    }

  .candidate-text {
    h2 {
      font-size:20px;
    }

    p {
      font-size: 12px;
    }
  }
}

