.restaurante-logo {
  text-align: center;
  background-color: $blue1;
  padding: 10% 0;
  h1 {
    color: #ffffff;
    font-weight: 600;
  }
}

.logo-size {
  border-radius: 50%;
}

.logo-size-small {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.tab-container {
  display: flex;
  justify-content: space-around;
  h2 {
    font-size: 25px;
    font-weight: 600;
  }
}

.tab-selector {
  display: flex;
  width: 50vw;
  justify-content: center;
  text-align: center;
}

.profile-data,
.restaurant-tab {
  margin-bottom: 5vh;
  color: $gray1;
  padding: 0 5% 5%;
  h3 {
    font-size:18px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
  }
}

.button-edit {
  padding-bottom: 2%;
  text-align: center;
}

.button-search {
  background-color: $blue1;
  padding: 1% 0;
  text-align: center;
}

.restaurant-text {
  text-align: center;
    h2 {
      font-weight:500;
      color: $blue1;
      font-size: 30px;
      padding: 0 10%;
   }

   p {
    color: $gray1;
    font-size: 18px;
    padding: 0 10%;
   }
}

.restaurant-form{
  text-align: center;
  margin-top: 1%
}

#restaurant-new-1{
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#restaurant-new-2{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#restaurant-new-3{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#restaurant-new-4{
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .restaurante-logo {
    h1 {
      font-size: 20px;
     }
    }

  .tab-selector {
  h2 {
    font-size: 14px;
    }
  }

  .profile-data {
  h3 {
    font-size:14px;
    padding: 0 5%;
  }

  p {
    font-size: 14px;
    padding: 0 5%;
    }
  }

  .button-edit {
  padding-bottom: 5%;
  }

  .button-search {
  padding: 3% 0;
  }

  .restaurant-text {
    h2 {
      font-size:20px;
    }

    p {
      font-size: 12px;
    }
  }

}
