.restaurante-logo {
  text-align: center;
  background-color: $blue1;
  padding: 10% 0;
  h1 {
    color: #ffffff;
    font-weight: 600;
  }
}

.logo-size {
  border-radius: 50%
}

.tab-container {
  display: flex;
  h2 {
    font-size: 25px;
    font-weight: 600;
  }
}

.tab-selector {
  display: flex;
  width: 50vw;
  justify-content: center;
  text-align: center;
}

.profile-data {
  h3 {
    font-size:18px;
    font-weight: 700;
    padding: 0 35%;
    color: $gray1;
  }

  p {
    font-size: 18px;
    padding: 0 35%;
    color: $gray1;
  }
}

.button-edit {
  padding-bottom: 2%;
  text-align: center;
}

.button-search {
  background-color: $blue1;
  padding: 1% 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .restaurante-logo {
    h1 {
      font-size: 20px;
     }
    }

.logo-size {
  width:30%;
  }

.tab-selector {
  h2 {
    font-size: 14px;
    }
  }

  .profile-data {
  h3 {
    font-size:14px;
    padding: 0 5%;
  }

  p {
    font-size: 14px;
    padding: 0 5%;
    }
}

.button-edit {
  padding-bottom: 5%;
}

.button-search {
  padding: 3% 0;
}
}
