<% content_for :meta_title, "Candidato | Opptis" %>

<div class="wrapper-white">
  <div class="banner-container">
    <div class="home-grid-1" style="margin-bottom: 30px;">
        <div class="home-text-container">
          <div class="home-text-content">
            <h1>
              Queremos te ajudar a <br> encontrar a vaga ideal
            </h1>
            <p>
              A <strong>Opptis</strong> permite que você busque o emprego que se encaixa melhor as suas preferências.  Exibiremos uma <strong>lista de vagas em bares e restaurantes</strong> e você escolherá a que melhor te atenda.
            <div class="home-text-links">
              <%= link_to "Em Breve", "#", class: "btn btn-primary disabled" %>
            </div>
          </div>

        </div>
          <div class="banner-image left-banner" id="candidato-banner" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/v1517846123/banner_cand_jjc9j7.png);">
          </div>

    </div>
  </div>
</div>

<div class="wrapper-light_gray">
  <div class="container">

    <div class="home-grid-1" style="margin-bottom: 30px;">
      <div class="home-text-container">
        <div class="home-text-content">
          <h2>
            Encontre vagas em restaurantes de acordo com suas preferências<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            <strong>Utilize os ﬁltros para escolher as oportunidades</strong> mais compatíveis com o seu perﬁl. A <strong>Opptis</strong> através de uma plataforma dinâmica de ﬁltros te ajuda a encontrar a vaga ideal para você. Vagas compatíveis com com localização, pretensão salarial e habilidades
          </p>
        </div>
      </div>

          <div class="banner-image" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450058/vagas_izpo2i.png);">
          </div>

    </div>

    <div class="home-grid-2">

        <div class="banner-image" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517840419/nopay_ubvppj.png);">
        </div>

      <div class="home-text-container">
        <div class="home-text-content">
          <h2>
            Busque vagas gratuitamente<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            <strong>Nossa plataforma não cobra do candidato</strong> em nenhum momento da experiência. Sabemos que no momentode busca de emprego qualquer custo adicional pode se tornar um problema.
          </p>
        </div>
      </div>
    </div>


    <div class="home-grid-1">
      <div class="home-text-container">
        <div class="home-text-content" style="margin-bottom: 30px;">
          <h2>
            Busque vagas ﬁxas ou temporárias<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            Já está empregado?  <strong>A Opptis também oferece vagas temporárias</strong> para que você possa ter uma renda extra.
          </p>
        </div>
      </div>

        <div class="banner-image" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517842226/tempemp2_cft4xb.png);">
        </div>

    </div>

  </div>
</div>

<div class="wrapper-blue1">
  <div class="container">

    <div class="logo-div">
      <div class="logo-div-md" style="margin-top: 30px;">
        <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_200/v1517840280/logo-md_mx91hx.png" %>
      </div>
    </div>

    <div class="logo-div">
<!--       <div style="margin-top: 20px;">
        <%= link_to "Em Breve", "registro.html", class: "btn btn-info disabled" %>
      </div> -->
    </div>

  </div>
</div>
