<% content_for :meta_title, "Restaurante | Opptis" %>

<div class="wrapper-white">
  <div class="banner-container">
      <div class="home-grid-1" style="margin-bottom: 30px;">
        <div class="home-text-container">
          <div class="home-text-content">
            <h1>
              Seu estabelecimento sofre com a alta rotatividade de funcionários?
            </h1>
            <p>
              A Opptis te fornece uma plataforma para criação de vagas e o nosso banco de dados se encarrega de achar as melhores opções com maior agilidade.
            <div class="home-text-links">
              <%= link_to "Registre-se", "https://opptisapp.azurewebsites.net", class: "btn btn-primary" %>
            </div>
          </div>
        </div>

          <div class="banner-image left-banner" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517834184/restaurante_h7n39s.png);"">
          </div>

      </div>
  </div>
</div>

<div class="wrapper-light_gray">
  <div class="container">

    <div class="home-grid-1">
      <div class="home-text-container">
        <div class="home-text-content">
          <h2>
            Resolva seus problemas de Rotatividade<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            Oferecemos uma busca dinâmica por candidatos de acordo com sua preferências. Através de nossos algoritmos encontramos uma opção que melhor se adeque ao seu negócio.
          </p>
        </div>
      </div>

          <div class="banner-image" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517832015/candidatos_lxbxha.png);">
<!--             <div class="home-image" style="margin-bottom: 30px;">
              <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517832015/candidatos_lxbxha.png" class="right-img"%>
            </div> -->
          </div>
    </div>

    <div class="home-grid-2">
        <div class="banner-image" style="margin-top: 50px; background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1519920290/jsilva_ycx73b.png);">
<!--           <div class="home-image">
            <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517833103/jsilva_ycx73b.png" id="jsilva" class="left-img" >
          </div> -->
        </div>

      <div class="home-text-container">
        <div class="home-text-content" style="margin-bottom: 30px;">
          <h2>
            Agilidade & Simplicidade<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            A <strong>Opptis</strong> é focada no mercado de bares e restaurantes, permitindo que um candidato encontre vagas de sua competência e habilidades
          </p>
        </div>
      </div>
    </div>

    <div class="home-grid-1">
      <div class="home-text-container">
        <div class="home-text-content">
          <h2>
            Anuncie vagas ﬁxas ou temporárias<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            <strong>Seu estabelecimento tem demanda sazonal?</strong>Tem algum evento e precisa de funcionários? A <strong>Opptis</strong> permite que você crie vagas ﬁxas ou temporárias que melhor atendam sua demanda.
          </p>
        </div>
      </div>

          <div class="banner-image" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517839361/tempper_vsctaa.png);">
<!--             <div class="home-image" style="margin-bottom: 30px;">
              <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517839361/tempper_vsctaa.png" class="right-img"%>
            </div> -->
          </div>
    </div>

  </div>
</div>

<div class="wrapper-blue1">
  <div class="container">

    <div class="logo-div">
      <div class="logo-div-md" style="margin-top: 30px;">
        <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_200/v1517840280/logo-md_mx91hx.png" %>
      </div>
    </div>

    <div class="logo-div">
      <div style="margin-top: 20px;">
        <%= link_to "Registre-se", "https://opptisapp.azurewebsites.net", class: "btn btn-info" %>
      </div>
    </div>

  </div>
</div>
