  <div class="profile-data">
    <h3>Data de Nascimento:</h3>
    <p><%= @candidate.birth_date %></p>

    <h3>Sexo:</h3>
    <p><%= @candidate.sex %></p>

    <h3>Experiência Prévia:</h3>
    <p><%= @candidate.previous_experience %></p>
  </div>
