<div class="restaurant-tab">
  <p style="font-size: 12px; font-style: italic;"> Esta informação é privada e não aparecerá para outros usuários</p>
  <h3>CNPJ</h3>
  <p><%= @restaurant.cnpj%></p>

  <h3>Telefone do Restaurante</h3>
  <p><%= @restaurant.phone %></p>

   <h3>Telefone do Responsável</h3>
  <p><%= @restaurant.manager_phone %></p>

   <h3>Email</h3>
  <p><%= current_user.email %></p>

</div>


