<div class="restaurant-tab">
  <p style="font-size: 12px; font-style: italic;"> Esta informação é privada e não aparecerá para outros usuários</p>
  <h3>CNPJ</h3>
  <p><%= @restaurant.cnpj%></p>

  <h3>Telefone para contato</h3>
  <p><%= @restaurant.phone %></p>
</div>

