<div class="restaurant-tab">
  <h3>Descrição</h3>
  <p><%= @restaurant.description%></p>

  <h3>Tipo de Cozinha</h3>
  <p><%= @restaurant.cousine %></p>

  <h3>Endereço</h3>
  <p><%= @restaurant.formatted_address%></p>
</div>
